---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeapi.com/rest/ElpGrXu8Dbr5ADKeTWuPEN9V2MlW4VDvbz3Ctb4jBh1FqLOFPGs4vQCqspXVikEG/info.json/12946/degrees
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"zip_code":"12946","lat":44.206559,"lng":-74.046204,"city":"Lake Placid","state":"NY","timezone":{"timezone_identifier":"America\/New_York","timezone_abbr":"EST","utc_offset_sec":-18000,"is_dst":"F"},"acceptable_city_names":[],"area_codes":[518]}'
  recorded_at: Fri, 31 Jan 2025 05:54:43 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=0f889efe7c6cecea91e4e57c3cdd6768&exclude=minutely,hourly,alerts&lat=44.206559&lon=-74.046204
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.2066,"lon":-74.0462,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1738302883,"sunrise":1738325697,"sunset":1738361056,"temp":266.7,"feels_like":261.57,"pressure":1015,"humidity":86,"dew_point":264.97,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":3.32,"wind_deg":197,"wind_gust":12.44,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"daily":[{"dt":1738342800,"sunrise":1738325697,"sunset":1738361056,"moonrise":1738330560,"moonset":1738371060,"moon_phase":0.08,"summary":"You
        can expect partly cloudy in the morning, with snow in the afternoon","temp":{"day":273.38,"min":266.3,"max":273.76,"night":269.27,"eve":272.25,"morn":268.89},"feels_like":{"day":271.29,"night":266.73,"eve":270.49,"morn":264.82},"pressure":1010,"humidity":97,"dew_point":272.26,"wind_speed":3.34,"wind_deg":209,"wind_gust":13.53,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":1,"snow":4.03,"uvi":0.83},{"dt":1738429200,"sunrise":1738412031,"sunset":1738447540,"moonrise":1738418220,"moonset":1738462140,"moon_phase":0.12,"summary":"Expect
        a day of partly cloudy with snow","temp":{"day":257.73,"min":248.24,"max":268.6,"night":248.24,"eve":250.08,"morn":258.51},"feels_like":{"day":251.21,"night":248.24,"eve":250.08,"morn":253.51},"pressure":1026,"humidity":86,"dew_point":253.77,"wind_speed":3.04,"wind_deg":315,"wind_gust":5.5,"weather":[{"id":600,"main":"Snow","description[...]
