<% flash.each do |type, message| %>
  <div class="flash_message">
    <%= content_tag(:div, message, class: "flash #{type}", 
      data: { controller: "flash" }) %>
  </div>
<% end %>
<% flash.clear %>
